.motos-bg {
  background: linear-gradient(to right, var(--c0) 30%, var(--c11) 0%);
  border-radius: 5px;
}

.motos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(/assets/img/dec/top-right.svg) no-repeat top 40px right 40px;
}

.motos-img {
  display: grid;
}

.motos-img img {
  grid-area: 1/1;
}

.motos-img span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  display: inline-block;
  background: var(--c12);
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.motos-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.motos h2,
.motos p {
  grid-column: 1/-1;
}

.motos h2 {
  margin-bottom: 20px;
}

.motos h2::before {
  content: '';
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  margin-bottom: 8px;
}

.motos p {
  margin-bottom: 32px;
}

.motos a {
  place-self: end;
}

.motos li {
  display: flex;
  align-items: center;
}

.motos ul {
  display: grid;
  gap: 16px;
}

.motos-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .motos-bg {
    background: var(--c11);
  }
  .motos {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .motos-conteudo {
    grid-template-columns: 1fr;
  }
  .motos ul {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
    font-size: 1rem;
  }
  .motos a {
    place-self: start;
  }
}
