.motos-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.motos-lista h2 {
  margin-bottom: 40px;
}

.motos-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

#motos .motos-lista ul {
  padding: 0px 0px 20px 0px;
}

.motos-lista li {
  min-width: 280px;
}

.motos-lista a {
  display: block;
}

.motos-lista img {
  margin-bottom: 16px;
}

.motos-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.motos-lista h3::before {
  content: '';
  display: inline-block;
  background-color: var(--p1);
  margin-right: 8px;
  width: 12px;
  height: 8px;
  transition: width 0.2s;
}

.motos-lista a:hover h3::before {
  width: 24px;
}

.motos-lista li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .motos-lista {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .motos-lista ul {
    gap: 20px;
  }
}
