.depoimento {
  background: var(--p1) url(/assets/img/dec/top-right-p.svg) no-repeat top 40px
    right 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
}

.depoimento-conteudo p {
  position: relative;
  max-width: 32ch;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
}

.depoimento p::after,
.depoimento p::before {
  position: absolute;
  font-size: 5rem;
  color: var(--p2);
}

.depoimento p::before {
  content: '“';
  left: -50px;
  top: -20px;
}
.depoimento p::after {
  content: '”';
}

@media (min-width: 1200px) {
  .depoimento img {
    max-height: 520px;
  }
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento img {
    max-height: 200px;
  }
  .depoimento-conteudo {
    padding: 40px 20px;
    justify-self: center;
  }
}
