.intro-bg {
  background: var(--c12) url(/assets/img/dec/bottom-left.svg) no-repeat bottom
    160px left 20px;
  box-shadow: inset 0 -120px var(--c0);
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.intro-conteudo {
  align-self: flex-end;
  padding-bottom: 200px;
}

.intro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.intro h1 {
  margin-bottom: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.intro p {
  color: var(--c03);
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .intro-bg {
    background-color: var(--c11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--c0);
  }
  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .intro-conteudo {
    padding-bottom: 0px;
  }
  .intro h1 {
    margin-bottom: 16px;
  }
  .intro img {
    height: 300px;
    width: 100%;
  }
}
