.seguros-bg {
  background-color: var(--c11);
}

.seguros {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

#seguros .seguros {
  padding-top: 0px;
}

.seguros h2 {
  grid-column: 1/-1;
}

.seguros-item {
  display: grid;
  background-color: var(--c12);
  padding: 32px 32px 32px 60px;
  border-radius: 4px;
  grid-template-columns: 1fr auto;
  border-radius: 4px;
}

.seguros-item h3 {
  margin-bottom: 40px;
}

.seguros-item span {
  grid-column: 2;
  display: block;
  text-align: right;
}

.seguros-item ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
}

.seguros-item li {
  position: relative;
  display: flex;
  align-items: center;
}

.seguros-item li + li {
  margin-top: 20px;
}

.seguros-item li::before {
  position: absolute;
  content: '';
  display: block;
  width: 13px;
  height: 9px;
  left: -21px;
  background-image: url(/assets/img/icons/lista.svg);
}

.seguros-item a {
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .seguros {
    grid-template-columns: 1fr;
  }
}
