.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#bicicleta .titulo p {
  text-transform: uppercase;
}

.bicicleta-imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicleta-imgs img{
  flex: 1;
  min-width: 200px;
}

.bicicleta-imgs img:first-child{
  min-width: 100%;
}

.bicicleta-conteudo p {
  margin-bottom: 32px;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  display: flex;
  align-items: center;
  background: var(--c12);
  padding: 4px 8px;
  border-radius: 4px;
  gap: 8px;
}

.bicicleta-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.bicicleta-info, .bicicleta-ficha {
  padding: 32px;
  background-color: var(--c12);
  border-radius: 4px;
}

.bicicletas-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 40px;
}

.bicicletas-info img {
  width: 24px;
  margin-bottom: 8px;
}

.bicicletas-info h3 {
  margin-bottom: 8px;
}

.bicicleta-ficha li{
  padding: 4px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--c11);
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

.bicicleta-ficha span {
  color: var(--c06);
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bicicleta-imgs {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .bicicleta-info {
    grid-template-columns: 1fr;
  }
  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
}